# Hugo default output directory
/public
/resources

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
/node_modules
/static/js

npm-debug.log
/static/js/svelte.js
/static/js/svelte.js.map
