@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-MediumItalic-subset.woff2') format('woff2'),
      url('../fonts/Inter-MediumItalic-subset.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold-subset.woff2') format('woff2'),
      url('../fonts/Inter-ExtraBold-subset.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium-subset.woff2') format('woff2'),
      url('../fonts/Inter-Medium-subset.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
