@import "./global";

body {
  margin: $spacing 0;

  @include query($narrow) {
		margin: $spacing * 2 0;
	}

	@include query($medium) {
		margin: $spacing * 3 0;
	}
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 $spacing / 2;

  @include query($narrow) {
		padding: 0 $spacing;
	}

  @include query($medium) {
		padding: 0 $spacing * 2;
	}
}

.wrapper {
	padding-left: $spacing;
	padding-right: $spacing;
}

.aspect {
	border-top: 2px solid $color-default;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	&:last-child {
		border-bottom: 2px solid $color-default;
	}

	.content {
		padding: $spacing;
	}

	.images {
		justify-self: center;
		align-self: center;
		overflow: hidden;
		height: 100%;
		width: 100%;
		position: relative;

		.image {
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: opacity 0.1s;

			&.active {
				opacity: 1;
			}

			img, figcaption {
				position: absolute;
			}

			img {
				left: 50%;
    		transform: translate(-50%, -50%);
    		top: 50%;
    		object-fit: cover;
    		width: 100%;
    		height: 100%;
			}

			figcaption {
				bottom: 0;
				right: 0;
			}
		}
	}
}

.topics {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: $spacing;
}

.page-footer {
	margin-top: $spacing * 2;
}
