@import "./global";

:root {
  --spacing-1: calc(var(--margin) * 3);
  --spacing-2: calc(var(--margin) * 2);
  --spacing-3: calc(var(--margin) * 2.5);
  --spacing-4: calc(var(--margin) * 0.5);
}

body {
  margin: var(--margin) 0;

  @include query($narrow) {
		margin: calc(var(--margin)) 0;
	}

	@include query($medium) {
		margin: calc(var(--margin)) 0;
	}
	background-color: #edbe3e;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 $spacing / 2;

  @include query($narrow) {
		padding: 0 $spacing;
	}

  @include query($medium) {
		padding: 0 $spacing * 2;
	}
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--margin);
	padding-right: var(--margin);
	max-width: 1600px;
}

.titles {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	width: 80%;

	.logo {
		border-right: 10px solid #fff;
		padding-right: calc(var(--spacing-4) * 6);
		// text-align: right;
	}

	.subtitle {
		padding-left: calc(var(--spacing-4) * 6);
	}

	.logo, .subtitle {
		padding-top: calc(var(--spacing-4) * 3);
		padding-bottom: calc(var(--spacing-4) * 3.5);
	}
}

.homepage-intro, .homepage-topics {
	// border-bottom: 2px solid $color-accent-dark;
}

.homepage-header {
	padding-top: calc(var(--margin) * 1);
	// padding-bottom: calc(var(--margin) * 2);

	.wrapper {
		// border-bottom: 1px solid $color-accent-dark;
		padding-bottom: calc(var(--margin) * 2);
		text-align: center;
		display: flex;
	}

	.info {
		text-align: right;
	}
}

.homepage-intro {
	padding-bottom: calc(var(--margin) * 3);
}

.homepage-topics {
	// padding-top: calc(var(--margin) * 3);
	border-top: 20px solid #000;

	.wrapper {
		border-bottom: 20px dotted #eee;
		padding-bottom: calc(var(--margin) * 2);
		// margin-bottom: calc(var(--margin) * 2);
	}

	.header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: var(--spacing-3);
		padding: var(--spacing-3);

		h5 {
			display: inline-block;
			border-bottom: 3px solid #000;
			padding: 0 calc(var(--spacing-4) * 2) var(--spacing-4);
			margin-bottom: var(--spacing-4);
			margin-left: calc(var(--spacing-4) * -2);
			// box-shadow: 0px 1px 0px #fff;
		}
	}

	.questions {
		display: flex;
		align-items: center;
		justify-content: center;

		ul {
			// border-top: 1px solid #000;
			// border-bottom: 1px solid #000;
			padding: calc(var(--spacing-3) / 3);
			// box-shadow: 1px 1px 0px #000;

			li {
				border-bottom: 1px solid #000;
				padding: calc(var(--spacing-3) / 3) calc(var(--spacing-3) / 2);
				text-align: center;
				display: flex;
		  	justify-content: space-between;
		  	// font-weight: $font-weight-bold;
		  	font-size: var(--size-3);

		  	i {
		  		margin-left: calc(var(--spacing-3) / 3);
		  	}
				// font-weight: $font-weight-bold;

				&:last-child {
					// border: 0;
					// padding-bottom: 0;
				}

				&:first-child {
					border-top: 1px solid #000;
					// padding-top: 0;
				}
			}
		}
	}
}

.aspect {
	border-top: 2px solid var(--color-font);
	display: grid;
	grid-template-columns: repeat(1, 1fr);

	&:last-child {
		border-bottom: 2px solid var(--color-font);
	}

	@include query($medium) {
		grid-template-columns: repeat(2, 1fr);
	}

	.content {
		padding: $spacing;
	}

	.images {
		justify-self: center;
		align-self: center;
		overflow: hidden;
		height: 100%;
		width: 100%;
		position: relative;
		display: none;

		@include query($medium) {
			display: block;
		}

		.image {
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: opacity 0.1s;

			&[aria-hidden="false"] {
				opacity: 1;
			}

			img, figcaption {
				position: absolute;
			}

			img {
				left: 50%;
    		transform: translate(-50%, -50%);
    		top: 50%;
    		object-fit: cover;
    		width: 100%;
    		height: 100%;
			}

			figcaption {
				bottom: 0;
				right: 0;
			}
		}
	}
}

.topics {
	// display: grid;
	// grid-template-rows: repeat(3, 1fr);

	.topic {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border-bottom: 20px dotted #eee;
		grid-column-gap: var(--spacing-3);
		padding: var(--spacing-3);

		&:last-child {
			border-bottom: 0;
		}

		header {
			position: relative;

			h3 {
				z-index: 2;
				width: 70%;
			}

			.number {
				position: absolute;
				top: 0;
				z-index: 1;
				left: calc(var(--spacing-3) / 2 * -1);
			}
		}

		.description {
			h5 {
				display: inline-block;
				border-bottom: 3px solid #000;
				padding: 0 calc(var(--spacing-4) * 2) var(--spacing-4);
				margin-bottom: var(--spacing-4);
				margin-left: calc(var(--spacing-4) * -2);
			}
		}

		.aspects {
			margin-top: var(--spacing-4);
		}


		.aspects li {
		  // margin-bottom: var(--spacing-4);
		  padding-bottom: var(--spacing-4);
		  padding-top: var(--spacing-4);
		  border-bottom: 1px solid #000;

		  a {
		  	display: flex;
		  	justify-content: space-between;
		  	padding: 0 var(--spacing-4);
		  }

		  &:first-child {
		  	border-top: 1px solid #000;
		  }

		  // &:last-child {
		  // 	border: 0;
		  // }
		}
	}
}

p + p {
	margin-top: var(--margin);
}

.homepage-projects {
	li {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		border-bottom: 1px solid $color-accent-dark;
		padding-bottom: var(--margin);
		margin-bottom: var(--margin);

		div:first-child, div:last-child {
			grid-column-end: span 4;
		}
	}
}

.page-footer {
	margin-top: $spacing * 2;
}
