@import "./global";

body {
  margin: $spacing 0;

  @include query($narrow) {
		margin: $spacing * 2 0;
	}

	@include query($medium) {
		margin: $spacing * 3 0;
	}
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 $spacing / 2;

  @include query($narrow) {
		padding: 0 $spacing;
	}

  @include query($medium) {
		padding: 0 $spacing * 2;
	}
}

.wrapper {
	padding-left: $spacing;
	padding-right: $spacing;
}

.aspect {
	border-top: 2px solid $color-default;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	&:last-child {
		border-bottom: 2px solid $color-default;
	}

	.content {
		padding: $spacing;
	}

	.images {
		justify-self: center;
		align-self: center;
	}
}

.topics {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: $spacing;
}

.page-footer {
	margin-top: $spacing * 2;
}
