@import "./global";
@import "./fonts";

html {
  font-size: var(--base);
  line-height: 1.7;
  font-family: $font-family-default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-default;
  font-kerning: normal;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: background-color $transition, color $transition;

  @media print {
    background-color: #fff;
    color: #000;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

line, path {
  stroke: rgba(0, 0, 0, 0.05);
  transition: stroke $transition;
  fill: none;

  &.isActive {
    stroke: rgba(0, 0, 0, 0.4);
  }
}

circle {
  stroke: var(--color-bg);
  transition: stroke $transition, fill $transition;
  fill: #eee;
}

text {
  fill: rgba(0, 0, 0, 1);
  transition: fill $transition;
  text-shadow: 2px 0 0 var(--color-bg), -2px 0 0 var(--color-bg), 0 2px 0 var(--color-bg), 0 -2px 0 var(--color-bg);
}

.hasActive {
  text {
    fill: rgba(0, 0, 0, 0.05);
  }

  g.isActive {
    text {
      fill: rgba(0, 0, 0, 1);
    }
  }
}

@import "./layout";
@import "./typography";
@import "./icons";