@mixin query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin outline($color) {
	-webkit-text-stroke: 1px $color;
  // text-shadow: -1px 1px 0 $color, 1px 1px 0 $color, 1px -1px 0 $color, -1px -1px 0 $color;

  @media print {
  	-webkit-text-stroke: none;
    // text-shadow: none;
    color: #000;
  }
}

@mixin ls () {
  letter-spacing: 0.2em;

  @include query($medium) {
    letter-spacing: 0.5em;
  }
}