@import "./global";

:root {
  --size-1: max(calc(var(--base) * 3), 1.2rem); // Headlines topics and aspects
  --size-2: calc(var(--base) * 2.2);
  --size-3: calc(var(--base) * 1.2);
  --size-4: max(calc(var(--base) * 0.6), 0.9rem); // Default text size
  --size-5: max(calc(var(--base) * 0.45), 0.7rem); // Captions
  --size-6: calc(var(--base) * 0.8);
  --size-7: calc(var(--base) * 2.8);
  --size-8: calc(var(--base) * 2.8);
}

i { font-style: normal; }
sup { font-size: 0.7em; }

::selection {
  color: $color-white;
  background-color: $color-accent;
}

@mixin headline-1 () {
  font-weight: $font-weight-bold;
  line-height: 1;
  font-size: var(--size-1);
}

.logo, .subtitle {
  @include headline-1();
  display: inline-block;
  margin-bottom: $spacing / 2;
}

@mixin headline-2 () {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.8em;
  background-color: #000;
  color: #000;
  font-size: var(--size-1);
  line-height: 1;
  @include outline(#fff);
}

.section-headline {
  @include headline-2();
}

@mixin headline-3 () {
  font-weight: $font-weight-bold;
  line-height: 0.95;
  font-size: var(--size-1);
  letter-spacing: -0.05em;
}

.aspect-title, .topic-title {
  @include headline-3();
}

@mixin headline-4 () {
  font-size: var(--size-3);
}

.question {
  @include headline-4();
}

@mixin headline-5 () {
  font-size: var(--size-4);
  line-height: 1.6;
}

.section-intro-headline, .topic-description-intro, .link-title {
  @include headline-5();
}

@mixin headline-6 () {
  font-size: var(--size-5);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #000;
}

.caption {
  @include headline-6();
}

@mixin text-1 () {
  font-size: var(--size-4);
  line-height: 1.6;
}

p, ul, td, th, input, .btn, .p, ol {
  @include text-1();
  // max-width: calc(var(--size-4) * 50);
}

p {
  max-width: calc(var(--size-4) * 50);
}

@mixin text-2 () {
  font-size: var(--size-5);
}

.reference-description, .page-footer, .tag {
  @include text-2();
}

.reference-counter, .reference-icon {
  @include text-2();
  text-transform: uppercase;
  letter-spacing: .02em;
}

@mixin link-1 () {
  color: var(--color-font);
  text-decoration-color: $color-accent-secondary;
  transition: text-decoration-color $transition, color $transition;

  &:hover, &:focus {
    color: $color-accent-secondary;
    text-decoration-color: var(--color-bg);
  }

  &[href^="#"] { // Style internal links differently
    text-decoration: none;

    &:hover, &:focus {
      color: $color-accent;
    }
  }
}

// Regular links in paragraphs, footer or intro
p a, .page-footer a, .info a { // TODO
  @include link-1();
}

@mixin link-2 () {
  color: var(--color-fg);
  text-decoration: none;
  transition: color $transition;

  &:hover, &:focus {
    color: $color-accent-secondary;
  }

  &[href^="#"] { // Style internal links differently
    &:hover, &:focus {
      color: $color-accent;
    }
  }
}

// Internal links to aspects
.link-aspect, .link-reference, .link-table {
  @include link-2();
}

h4 {
  text-transform: uppercase;
  font-weight: $font-weight-default;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
  color: $color-accent-dark;
  // margin-top: $spacing;
}

.homepage-header {
  span {
    display: block;
  }
}

.link {
  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0;
    display: inline;
    font-size: var(--size-5);
  }
}

.homepage-content .note {
	display: block;
	margin: $spacing / 2 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    line-height: 1.5em;
    display: block;
  }
}

.projects {
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;

    td, th {
      transition: border-bottom-color $transition;
      border-bottom: 1px solid var(--color-font);
      text-align: left;
    }
  }
}

.homepage-projects {
  li .title {
    font-weight: $font-weight-bold;
  }
}

input {
  border: 2px solid #000;
  padding: $spacing / 4 $spacing / 2;
  margin-bottom: $spacing;
}

.topics .topic header .number {
  font-size: calc(var(--base) * 15);
  line-height: 1;
  font-weight: $font-weight-bold;
  color: var(--color-bg);
  @include outline(var(--color-accent));
}
