@import "./global";

:root {
  --size-1: min(max(8rem, 40px), 120px); // Headlines topics and aspects
  --size-2: min(max(3rem, 35px), 80px); // Headlines topics and aspects
  --size-3: min(max(1.3rem, 15px), 20px); // Questions and table link
  --size-4: min(max(1.0rem, 15px), 18px); // Default text size
  --size-5: min(max(0.7rem, 12px), 14px); // Captions
}

i { font-style: normal; }
sup { font-size: 0.7em; }
q { font-style: italic; quotes: none; }

::selection {
  color: var(--color-fg);
  background-color: var(--color-highlight);
  text-shadow: none;
  -webkit-text-stroke: 0;
}

.draft {
  text-transform: uppercase;
  font-size: var(--size-5);
  font-weight: $font-weight-bold;
  @include ls();
}

@mixin headline-1 () {
  font-weight: $font-weight-bold;
  line-height: 1;
  font-size: var(--size-2);

  @media print {
    font-size: 20pt;
  }
}

.page-title {
  @include headline-1();
  font-size: var(--size-1);
  text-transform: uppercase;
  font-family: $font-family-serif;
  font-weight: $font-weight-default;
}

.info {
  font-size: var(--size-3);
  line-height: 1.45;
  display: block;

  a {
    text-decoration: none;
  }
}

@mixin headline-2 () {
  @include headline-1();
  font-family: $font-family-serif;
  font-weight: normal;

  a {
    white-space: nowrap;
  }

  i {
    font-size: 0.6em;
    vertical-align: 0.2em;
  }

  @media print {
    font-size: 20pt;
    letter-spacing: 0;
    text-transform: none;
  }
}

.section-headline {
  @include headline-2();
  color: var(--color-fg);
}

@mixin headline-3 () {
  @include headline-1();
  line-height: 1;
  letter-spacing: -0.03em;

  @media print {
    font-size: 18pt;
    letter-spacing: 0;
  }
}

.aspect-title, .topic-title {
  @include headline-3();
}

@mixin headline-4 () {
  font-size: var(--size-3);
}

.question {
  @include headline-4();
}

@mixin headline-5 () {
  font-size: var(--size-4);
  font-weight: $font-weight-bold;
  line-height: 1.3;

  @media print {
    font-size: 14pt;
  }
}

.section-intro-headline, .topic-description-intro, .link-title, .homepage-projects .header h1 {
  @include headline-5();

  @media print {
    font-size: 12pt;
  }
}

@mixin text-1 () {
  font-size: var(--size-4);
  line-height: 1.7;

  @media print {
    font-size: 12pt;
  }
}

p, ul, input.search, .btn, .p, ol, .homepage-projects .header a {
  @include text-1();
}

input.search {
  @include text-1();
  font-weight: $font-weight-bold;
  border-radius: 0;

  &::placeholder {
    @include text-1();
    font-weight: $font-weight-default;
    color: var(--color-fg);
    opacity: 1;
  }
}

p {
  max-width: calc(var(--size-4) * 50);
  hyphens: auto;

  @media print {
    max-width: calc(12pt * 40);
  }
}

p + p {
  margin-top: var(--spacing)
}

.homepage-intro div, .homepage-outro .outro {
  p {
    font-size: var(--size-3);
    max-width: calc(var(--size-3) * 50);
  }
}

@mixin text-2 () {
  font-size: var(--size-5);

  @media print {
    font-size: 10pt;
  }
}

.reference-description, .page-footer, .tag, .label, .aspects-links, .homepage-menu, .homepage-menu button {
  @include text-2();
}

.hashtags {
  line-height: 1.1;
}

.label {
  font-weight: $font-weight-bold;
  cursor: pointer;
}

.reference-counter, .reference-icon {
  @include text-2();
  text-transform: uppercase;
  letter-spacing: .02em;

  @media print {
    letter-spacing: 0;
    text-transform: none;
  }
}

.caption, .map-topics {
  font-size: var(--size-5);
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @media print {
    letter-spacing: 0;
    text-transform: none;
  }
}

.topics-list .topic .number {
  font-size: var(--size-5);
  font-weight: normal;

  @media print {
    font-size: var(--size-5);
    font-weight: normal;
  }

  @include query($medium) {
    @include headline-1();
    font-size: calc(var(--base) * 15);
    color: var(--color-bg);
    @include outline(var(--color-accent));
  }
}

@mixin link-1 () {
  text-decoration: underline;
  color: var(--color-font);
  text-decoration-color: var(--color-interactive);
  transition: text-decoration-color $transition, color $transition;

  @media print {
    text-decoration-color: rgba(0, 0, 0, 0.2);
  }

  &:hover, &:focus {
    color: var(--color-interactive);
    text-decoration-color: transparent;
  }

  &[href^="#"], &[href^="/#"] { // Style internal links differently
    text-decoration: none;

    &:hover, &:focus {
      color: $color-accent;
    }
  }
}

// Regular links in paragraphs, footer or intro
p a, .page-footer a, .info a, ul a, .section-headline a, .homepage-menu a .archive {
  @include link-1();
}

.section-headline a {
  font-style: italic;
}

@mixin link-2 () {
  color: var(--color-fg);
  text-decoration: none;
  transition: color $transition;

  &:hover, &:focus {
    &, i {
      color: var(--color-interactive);
    }
  }

  &[href^="#"], &[href^="/#"], &.internal { // Style internal links differently
    cursor: pointer;

    &:hover, &:focus {
      &, i {
        color: $color-accent;
      }
    }
  }
}

// Internal links to aspects
.link-aspect, .link-reference, .link-table, .caption.anchor, .homepage-projects .header a, .homepage-menu a:not(.archive) {
  @include link-2();
}

.homepage-menu {
  button {
    border: none;
    background-color: transparent;
  }

  a {
    i {
      color: transparent;
    }

    &.isActive {
      i {
        color: var(--color-fg);
      }
    }
  }
}

.homepage-projects .list {
  span, a {
    line-height: 1.3;

    &.title {
      font-weight: $font-weight-bold;
    }
  }
}
