@import "./global";

::-moz-selection {
  color: $color-white;
  background-color: $color-accent-dark;
}

::selection {
  color: $color-white;
  background-color: $color-accent-dark;
}

.logo {
	font-weight: $font-weight-bold;
	line-height: 1.1;
	margin-bottom: $spacing / 2;
  display: inline-block;
  font-size: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headline;
}

h2 {
  margin: $spacing * 2 0 $spacing / 2 $spacing;
  line-height: 1.2em;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.8em;
  font-size: 0.9rem;
}

h3 {
  margin-bottom: 0.5em;
  font-weight: $font-weight-bold;
  line-height: 1.1;
  position: relative;
  font-size: 3rem;

  i {
    left: -1.6rem;
    line-height: 2;
  }
}

h2, h3 {
  &:hover, &:focus {
    i {
      color: $color-mute;
    }
  }
}

.job-title {
  font-weight: $font-weight-bold;
  display: block;
}

a {
	color: $color-default;
	text-decoration-color: rgba($color-accent-dark, 0.5);
	transition: text-decoration-color $transition;

  &[href^="#"], &[rel="self"] {
    text-decoration: none;
    text-decoration-color: $color-white;
  }

	&:hover, &:focus {
    &:not(.headline) {
      text-decoration: underline;
      text-decoration-color: $color-accent-dark;
    }

    &.headline > * {
      border-bottom-color: $color-accent;
    }
	}
}

p {
	@include query($medium) {
    margin: $spacing 0;
    font-size: 0.9rem;
    line-height: 1.35;
	}

	@include query($wide) {
    margin: $spacing 0;
    line-height: 1.4;
	}
}

.homepage-content .note {
	display: block;
	margin: $spacing / 2 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.2em $spacing 0.2em 1.6em;
    position: relative;
    line-height: 1.5em;
    display: block;

    &:before {
      content: "—";
      color: $color-accent-dark;
      position: absolute;
      left: 0;
    }

    a {
    	color: $color-default;
    	text-decoration-color: $color-white;
    	transition: text-decoration-color $transition;

    	&:hover, &:focus {
    		text-decoration: underline;
    		text-decoration-color: $color-accent;
    	}
    }
  }
}

.mute {
  color: rgb(200, 200, 200);
}

small, .page-footer span {
  font-size: 0.80rem;
  display: inline-block;
  line-height: 1.4rem;
}