$font-family-default: "Inter", system-ui, sans-serif;
$font-family-serif: "Times New Roman", "Times", serif;
$font-weight-default: 500 !default;
$font-weight-bold:    800 !default;

$color-default:      #000000 !default;
$color-white:		     #ffffff !default;
$color-accent:	     #f73c2f !default;
$color-interactive:  #1437dd !default;
$color-highlight:    #ffff00 !default;

$border-print: 1px solid rgba(0, 0, 0, 0.2) !default;

$transition: 			0.3s !default;

$narrow:				600px !default;
$medium:				900px !default;
$wide:        	1200px !default;
$extra-wide:    1700px !default;

$z-index-table-link: 3 !default;
$z-index-header-background: 1 !default;
$z-index-header-foreground: 2 !default;
$z-index-banner: 4 !default;

:root {
  --color-fg: #{$color-default};
  --color-bg: #{$color-white};
  --color-accent: #{$color-accent};
  --color-interactive: #{$color-interactive};
  --color-highlight: #{$color-highlight};

  --margin: max(calc(2vw + 0.5vmin), 2px); // Used for spacing
  --base: calc(1.5vw); // Used for fonts

  --color-border-primary: var(--color-fg); // TODO: is this used?
  --color-border-secondary: var(--color-fg); // TODO: is this used?
}

.theme-dark {
  --color-fg: #{$color-white};
  --color-bg: rgb(29, 31, 33);
  --color-accent: #{$color-accent};
  --color-interactive: #{$color-interactive};
  --color-highlight: #{$color-highlight};
}

// background-color: #ffff01;
// background-color: #edbe3e;
// background-color: #96ab96;
// background-color: #ECC454;
// background-color: #d4baba;
// background-color: #f9e2e4;

@keyframes fade-target {
  0% {
    background-color: var(--color-highlight);
  }
  50% {
    background-color: var(--color-highlight);
  }
  100% {
    background-color: transparent;
  }
}
