{{ $parentID := .context.UniqueID }}
{{ $id := .context.Title | urlize | lower }}
<section class="aspect" role="listitem" aria-labelledby="{{ $id }}">
	<span class="caption float">Aspect</span>
	<h3 id="{{ $id }}">{{ .context.Title }}</h3>
	<div class="content">
	  {{ .context.Content }}
	</div>
	<aside>
	  <ol class="list list-complex">
	  	{{ $content := where (where .context.Site.RegularPages "Section" "in" site.Params.contentTypes) "Params.aspect" .context.File.BaseFileName }}
	  	{{ range $index, $element := $content }}
				<li class="link" data-id="{{ .UniqueID }}" data-parent="{{ $parentID }}">
					<a href="{{ .Params.link }}">
						<span>{{ add $index 1 }}</span>
						<h5>{{ $element.Title }}</h5>
						{{ $element.Content }}
						<i>↗</i>
					</a>
				</li>
			{{ end }}
	  </ol>
	</aside>
</section>