{{ $parentID := .context.UniqueID }}
<section class="aspect">
	<div class="content">
	  <h3>{{ .context.Title }}</h3>
	  <div>{{ .context.Content }}</div>
	  <h4>Related projects</h4>
	  <ul>
	  	{{ range where (where .context.Site.RegularPages "Section" "in" site.Params.contentTypes) "Params.aspect" .context.File.BaseFileName }}
				<li class="link" data-id="{{ .UniqueID }}" data-parent="{{ $parentID }}">
					<h5><a href="{{ .Params.link }}">{{ .Title }}</a></h5>
					{{ .Content }}
				</li>
			{{ end }}
	  </ul>
	</div>
	<div class="images" id="{{ .context.UniqueID }}">
		{{ range $index, $value := where (where .context.Site.RegularPages "Section" "projects") "Params.aspect" .context.File.BaseFileName }}
			<figure class="image" aria-hidden="{{ ne $index 0 }}" id="{{ .UniqueID }}">
				<img src="{{ printf "/images/%s" $value.Params.image }}">
				<figcaption>{{ $value.Params.figcaption }}</figcaption>
			</figure>
		{{ end }}
	</div>
</section>