{{ $id := .context.Title | urlize | lower }}
<section class="aspect" role="listitem" aria-labelledby="title_{{ $id }}" id="{{ $id }}">
	<a href="#{{ $id }}"><span class="caption float">Aspect {{ add .count 1 }}</span></a>
	<h3 id="title_{{ $id }}" class="aspect-title">{{ .context.Title }}</h3>
	<div class="content">
	  {{ .context.Content }}
	  {{ with .context.Params.hashtags }}
	  <footer>
	  	<ul class="hashtags">
	  		{{ range . }}
	  		<li class="tag">#{{ . }}</li>
	  		{{ end }}
	  	</ul>
	  </footer>
	  {{ end }}
	</div>
	<aside>
	  <ol class="list list-complex references">
	  	{{ $content := where (where .context.Site.RegularPages "Section" "in" site.Params.contentTypes) "Params.aspect" .context.File.BaseFileName }}
	  	{{ range $index, $element := $content }}
				<li class="link" id="{{ .File.BaseFileName }}">
					<a href="{{ .Params.link }}" class="link-reference" title="External link to »{{ $element.Title }}«">
						<span class="reference-counter">{{ add $index 1 }}</span>
						<h5 class="link-title">{{ $element.Title }}</h5>
						<span class="reference-description">{{ with $element.Params.authors }}{{ delimit . ", " " and " }}; {{ end }}{{ with $element.Params.year }}{{ . }}{{ end }}</span>
						<i class="reference-icon">↗</i>
					</a>
				</li>
			{{ end }}
	  </ol>
	</aside>
</section>