<footer class="container page-footer">
	<span>Last updated <time datetime="{{ now.Format "2006-01-02T15:04:05Z07:00" }}">{{ now.Format "January 2006"}}</time> – <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a> – <a href="{{ .Site.Params.source }}">Source on Github</a> – <a href="{{ .Site.Params.imprint }}">Imprint</a> – <a href="{{ .Site.Params.privacy }}">Privacy</a></span>
</footer>

<script>
	// const links = document.getElementsByClassName('link');

	// for (let l = 0; l < links.length; l++) {
	//   links[l].addEventListener('mouseenter', function (e) {
	//     const images = document.getElementById(e.target.dataset.parent).getElementsByClassName('image')
	//     for (let i = 0; i < images.length; i++) {
	//     	images[i].setAttribute('aria-hidden', 'true');
	//     	if (images[i].id === e.target.dataset.id) {
	//     		images[i].setAttribute('aria-hidden', 'false');
	//     	}
	//     }
	//   })
	// }

	const footnotes = document.getElementsByClassName('footnote');
	const references = document.getElementsByClassName('references');

	for (let l = 0; l < footnotes.length; l++) {
		footnotes[l].addEventListener('mouseenter', function (e) {
			const reference = document.getElementById(e.target.getAttribute('aria-describedby'))
			reference.classList.add('isHover');
			for (let l = 0; l < references.length; l++) {
				references[l].classList.add('hasHover');
			}
		})
		footnotes[l].addEventListener('mouseleave', function (e) {
			const reference = document.getElementById(e.target.getAttribute('aria-describedby'))
			reference.classList.remove('isHover');
			for (let l = 0; l < references.length; l++) {
				references[l].classList.remove('hasHover');
			}
		})
	}

	// // function to set a given theme/color-scheme
	// function setTheme(themeName) {
	//     localStorage.setItem('theme', themeName);
	//     document.documentElement.className = themeName;
	// }// function to toggle between light and dark theme
	// function toggleTheme() {
	//    if (localStorage.getItem('theme') === 'theme-dark'){
	//        setTheme('theme-light');
	//    } else {
	//        setTheme('theme-dark');
	//    }
	// }// Immediately invoked function to set the theme on initial load
	// (function () {
	//    if (localStorage.getItem('theme') === 'theme-dark') {
	//        setTheme('theme-dark');
	//    } else {
	//        setTheme('theme-light');
	//    }
	// })();

</script>