<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="robots" content="index,follow">

  <meta property="og:url" content="{{ .Site.BaseURL }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:locale" content="{{ .Site.LanguageCode }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@{{ .Site.Params.author }}">
  <meta name="twitter:url" content="{{ .Site.BaseURL }}">
  <meta name="twitter:title" content="{{ .Site.Title }}">
  <meta name="twitter:description" content="{{ .Site.Params.description }}">

  <link rel="icon" sizes="152x152" href="favicon-152x152.png">
  <link rel="apple-touch-icon" href="favicon-152x152.png">

  {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <script src="https://d3js.org/d3-selection.v1.js"></script>
  <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
</head>