<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="robots" content="index,follow">

  {{ partial "opengraph.html" . }}
  {{ template "_internal/schema.html" . }}

  <link rel="me" href="https://vis.social/@paulpunkt" />
  <link rel="me" href="https://vis.social/@jonas" />

  <link rel="icon" sizes="152x152" href="{{ "/favicon-152x152.png" | absURL }}">
  <link rel="apple-touch-icon" href="{{ "/favicon-152x152.png" | absURL }}">

  {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

  <link rel="alternate" type="application/rss+xml" href="{{ "index.xml" | absURL }}" title="{{ .Site.Title }}">

  {{ $svelte := resources.Get "js/svelte.js" | js.Build (dict "minify" true) | fingerprint }}
  <script type="text/javascript" src="{{ $svelte.Permalink }}" integrity="{{ $svelte.Data.Integrity }}" defer></script>

  {{ $js := resources.Get "js/index.js" | js.Build (dict "minify" true) | fingerprint }}
  <script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "{{ .Site.Title }}",
      "url": "{{ printf "%s" .Site.BaseURL }}",
      "description": "{{ .Site.Params.description }}",
      "thumbnailUrl": "{{ printf "%s" ((index .Site.Params.Images 0) | absURL) }}",
      "license": "http://creativecommons.org/licenses/by/4.0/"
    }
  </script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "CreativeWork",
      "name": "{{ .Site.Title }}",
      "author": [{
          "@type": "Person",
          "givenName": "Paul",
          "familyName": "Heinicker"
        }, {
          "@type": "Person",
          "givenName": "Jonas",
          "familyName": "Parnow"
        }],
      "dateCreated": "2020-09-09T19:01:00.00Z",
      "datePublished": "2020-09-09T19:01:00.00Z",
      "dateModified": "{{ now.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "url": "{{ printf "%s" .Site.BaseURL }}",
      "inLanguage": {{ .Site.LanguageCode | default "en-gb" }},
      "isFamilyFriendly": "true",
      "educationalUse": "syllabus",
      "isAccessibleForFree": "true",
      "learningResourceType": "syllabus",
      "license": "http://creativecommons.org/licenses/by/4.0/",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ printf "%s" .Site.BaseURL }}"
      },
      "version": "{{ .Site.Params.version }}"
    }
  </script>
</head>
