<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="robots" content="index,follow">

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <link rel="icon" sizes="152x152" href="{{ "/favicon-152x152.png" | absURL }}">
  <link rel="apple-touch-icon" href="{{ "/favicon-152x152.png" | absURL }}">

  {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

  <script type="text/javascript" src="/js/svelte.js" defer></script>
</head>