<section class="projects wrapper">
  <input type="text" id="search" placeholder="Search…" />
<!--   <table>
  	<thead>
  		<tr>
  			<th>Title</th>
  			<th>Authors</th>
  			<th>Aspects</th>
  			<th>Topic</th>
  			<th>Medium</th>
  			<th>Description</th>
  		</tr>
  	</thead>
  	<tbody>
		</tbody>
  </table> -->
  <ul id="list" class="plain">
  </ul>
</section>

<script>
  const options = {
    keys: [
      'title',
      'description',
      'authors',
      'aspect',
      'topic',
      'medium',
      'tags',
      'link',
      'year'
    ]
  };

  const columns = ['title', 'authors', 'aspect', 'topic', 'medium', 'year']

  d3.json('/items.json').then((items) => {
    const fuse = new Fuse(items, options);

    const input = document.getElementById('search')
    input.addEventListener('input', () => {
      update(input.value.length ? fuse.search(input.value) : items)
    })
    update(items)
  });

  const list = d3.select('#list')

  function update (data) {
    const rows = list.selectAll('li')
      .data(data, (d) => 'item' in d ? d.item.id : d.id)
      .join('li')
      .append('a')
      .selectAll('span')
      .data((row) => {
        const datum = 'item' in row ? row.item : row
        return columns.map((column) => ({ value: datum[column], className: column }))
      })
      .enter()
      .append('span')
        .attr('class', (d) => d.className)
        .text((d) => d.value)
  }

</script>