{{ $id := .Title | urlize | lower }}
<section class="topic" id="{{ $id }}">
	<header class="topic-header">
		<a href="#{{ $id }}" class="caption anchor float" title="Jump to section">Topic</a>
	  <h3 class="topic-title">{{ .Title }}</h3>
	  <span class="number">{{ .Weight }}</span>
	</header>
  <div class="description">
  	<h5 class="topic-description-intro">{{ .Params.Question }}</h5>
  	{{ .Content }}
  	{{ .Content }}
  	<div class="aspects">
	  	<span class="caption">Aspects</span>
	  	{{ $content := where (where .Site.RegularPages "Section" "eq" "aspects") "Params.topics" "intersect" (slice .File.BaseFileName) }}
	  	<ul class="list">
	  		{{ range $content }}
	  		{{ $id := .Title | urlize | lower }}
	  		<li class="link"><a href="#{{ $id }}" class="link-aspect" title="Jump to aspect »{{ .Title }}«"><span>{{ .Title }}</span><i>↓</i></a></li>
	  		{{ end }}
	  	</ul>
	  </div>
  </div>
</section>