{{ $id := .Title | urlize | lower }}
<section class="topic" id="{{ $id }}" aria-labelledby="title_{{ $id }}" role="listitem">
	<header class="topic-header">
		<a href="#{{ $id }}" class="caption anchor float" title="Jump to topic »{{ .Title }}«">Topic</a>
		<span class="number">{{ .Weight }}</span>
	  <h3 class="topic-title" id="title_{{ $id }}">{{ .Title }}</h3>
	</header>
  <div class="description">
  	<h4 class="topic-description-intro">{{ .Params.Question }}</h4>
  	{{ .Content }}
  	<div class="aspects-links" role="list">
  		{{ $content := where ((.Site.GetPage "/aspects").Resources) "Params.topics" "intersect" (slice .File.BaseFileName) }}
  		<span>Related aspects: {{ range $content }}
	  		{{ $id := .Title | urlize | lower }}
	  		<a href="#{{ $id }}" class="link-aspect" title="Jump to aspect »{{ .Title }}«" role="listitem"><span>{{ .Title }}</span><i>↓</i></a>
	  		{{ end }}
	  	</span>
	  </div>
  </div>
</section>