{{ define "main" }}

  <div>
    <nav class="table-link">
      <a href="/table">All projects</a>
    </nav>
    <header class="homepage-header wrapper" role="banner">
      <div class="wrapper">
        <a href="{{ .Site.BaseURL }}" rel="self" class="titles">
          <h1 class="logo" role="heading" aria-level="1">{{ .Title }}</h1>
          <span class="subtitle">{{ .Site.Params.description }}</span>
        </a>
        <!-- <button id="switch" class="btn" onclick="toggleTheme()">Switch</button> -->
        <span class="p info">Notes, thoughts and ressources curated by <a href="http://paulheinicker.com/">Paul Heinicker</a> and <a href="https://jonasparnow.com/">Jonas Parnow</a>.</span>
      </div>
    </header>
    <section class="homepage-intro wrapper">
      <div class="wrapper">
        {{ with .Site.GetPage "intro.md" }}
          {{ .Content }}
        {{ end }}
      </div>
    </section>
    <section class="homepage-topics" aria-labelledby="topics">
      <h2>Topics</h2>
      <header class="header wrapper">
        <div>
          <h5 id="topics" role="heading" aria-level="2">Framework</h5>
          {{ with .Site.GetPage "_topics.md" }}
            {{ .Content }}
          {{ end }}
        </div>
        <div class="questions">
          <ul>
            <li><span>Dematerialised</span><i>?</i></li>
            <li><span>Neutral</span><i>?</i></li>
            <li><span>Disembodied</span><i>?</i></li>
          </ul>
        </div>
      </header>
      <div class="topics wrapper">
        {{ partial "topics.html" (dict "context" .) }}
      </div>
    </section>
    <section class="homepage-aspects" aria-labelledby="aspects">
      <h2>Aspects</h2>
      <header class="header wrapper">
        <div>
          <h5 id="aspects" role="heading" aria-level="2">Intro</h5>
          {{ with .Site.GetPage "_aspects.md" }}
            {{ .Content }}
          {{ end }}
        </div>
        <div class="questions">
        </div>
      </header>
      <div class="aspects wrapper">
        {{ partial "aspects.html" (dict "context" .) }}
      </div>
    </section>
  </div>

{{ end }}