{{ define "main" }}

  <div>
    <nav class="table-link">
      <a href="/table">All projects</a>
    </nav>
    <header class="homepage-header wrapper" role="banner">
      <h1 class="logo" role="heading" aria-level="1">{{ .Title }}</h1>
      <span class="subtitle">{{ .Site.Params.description }}</span>
      <span class="p info">Notes, thoughts and ressources curated by <a href="http://paulheinicker.com/">Paul Heinicker</a> and <a href="https://jonasparnow.com/">Jonas Parnow</a>.</span>
    </header>
    <section class="homepage-intro wrapper">
      <div>
        {{ with .Site.GetPage "intro.md" }}
          {{ .Content }}
        {{ end }}
      </div>
    </section>
    <section class="homepage-topics" aria-labelledby="topics">
      <h2 class="section-headline">Topics</h2>
      <header class="header wrapper">
        <div class="section-intro">
          <h5 id="topics" role="heading" aria-level="2" class="section-intro-headline">Framework</h5>
          {{ with .Site.GetPage "topic.md" }}
            {{ .Content }}
          {{ end }}
        </div>
        <div class="questions">
          <ul>
            <li class="question"><span>Dematerialised</span><i>?</i></li>
            <li class="question"><span>Neutral</span><i>?</i></li>
            <li class="question"><span>Disembodied</span><i>?</i></li>
          </ul>
        </div>
      </header>
      <div class="topics-list wrapper">
        {{ partial "topics.html" . }}
      </div>
    </section>
    <section class="homepage-aspects" aria-labelledby="aspects">
      <h2 class="section-headline">Aspects</h2>
      <header class="header wrapper">
        <div class="section-intro">
          <h5 id="aspects" role="heading" aria-level="2" class="section-intro-headline">Intro</h5>
          {{ with .Site.GetPage "aspect.md" }}
            {{ .Content }}
          {{ end }}
        </div>
        <div class="questions">
        </div>
      </header>
      <div class="map wrapper" id="map">

      </div>
      <div class="aspects wrapper">
        {{ partial "aspects.html" . }}
      </div>
    </section>
  </div>

{{ end }}